.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 50px;
    flex-direction: row;
    max-width: 100%;
    background-color: #FFC301;
    
}
.category-content{
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50px;
    flex-direction: row;
    max-width: 100%;
}
.nav-logo{
    height: 40px;
    width: 40px;
    margin-left: 10px;
}
.nav-items{
    display: flex;
    flex-direction: row;
}
.nav-items a{
    text-decoration: none;
    color: rgb(12, 12, 12);
}
.nav-items p{
    margin-right: 15px;
}

