.container{
    width: 100vw;
    height: 100vh;
    background-color: indigo;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-cont{
    color: white;
    font-size: 60px;
}