.item-d-main-container{
    height: 100%;
    margin-top: 80px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    align-items: center;
}

.item-d-pictureandprice{
    height: auto;
    width: 80vw;
    display: flex;
    flex-direction: row;
    background-color: #EEEEEE;
}
.item-d-cont-picture{
    max-height: 610px;
    min-height: 610px;
    height: 100%;
    width: 60vw;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-d-cont-price{
    width: 20vw;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 25px;

}
.counter-itemdetail{
    align-items: center;
    justify-content: end;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 10px;
}

.image{
    max-height: 610px;
    min-height: 610px;
    width: inherit;
}
.item-d-descr{
    background-color: white;
    width: 80vw;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
}
.item_title{
    font-weight: 700;
    font-size: 30px;
    text-align:start !important; 
    text-justify: inherit;
    color: #BB233A;
}
.title-cont{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.item_category{
    color: rgb(150, 150, 150);
}
.line-desc{
    margin-top: 3px;
    width: 100%;
    border-bottom: 1.5px solid #d4d4d4;
}