.item-d-main-container{
    height: 1500px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    align-items: center;
}
.item-d-pictureandprice{
    height: auto;
    width: 80vw;
    display: flex;
    flex-direction: row;
    background-color: #EEEEEE;
}
.item-d-cont-picture{
    max-height: 610px;
    min-height: 610px;
    height: 100%;
    width: 60vw;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-d-cont-price{
    width: 20vw;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;

}
.counter-itemdetail{
    align-items: center;
    justify-content: end;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 10px;
}
.item-d-cont-price h3{
    color: #FFC301;
    font-size: 30px;
}
.image{
    max-height: 610px;
    min-height: 610px;
}
.item-d-descr{
    margin-top: 20px;
}