.container-item-counter{
    height: 50px;
    width: 250px;
    display: flex;
    flex-direction: row;
    background-color: rgb(238, 238, 238);
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding-left: 10px; 
    padding-right: 10px;
}
.btn-item-counter{
    border-width: 0px;
    height: 40px;
    width: 40px;
    font-size: 20px;
}
.container-final-item button{
    width: 270px;
    height: 50px;
    margin-top: 20px;
    color: #1C1B17;
    border-style: solid;
    font-weight: 500;
    background-color: rgb(255, 227, 66);
    font-size: 16px;
    border-radius: 5px;
    border-width: 0px;
}
.result-text{
    color: white;
}
.container-counter{
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}