.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 50px;
    flex-direction: row;
    max-width: 100%;
    
}
.nav-logo{
    height: 40px;
    width: 40px;
    margin-left: 10px;
}
.nav-items a{
    margin-right: 15px;
}