.cat-cont-background{
    width: 100vw;
    background-color: #FFC301;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cat-cont-div{
    height: 250px;
    display: flex;
    flex-direction: row;
    width: 80vw;
}